<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add beer</ion-title>
    </ion-toolbar>
</ion-header>  

    <ion-list>
        <ion-grid>
            <ion-col>
                <ion-label for="name">Name</ion-label><br>
                <ion-input type="text" name="name"  required class="w-100"></ion-input><br>
            </ion-col>
            <ion-col>
                <ion-label for="number">Price</ion-label><br>
                <ion-input type="text" name="price" required class="w-100"></ion-input><br>
            </ion-col>
            <ion-col>
                <ion-label for="number">Degree</ion-label><br>
                <ion-input type="text" name="degree"  required class="w-100"></ion-input><br>
            </ion-col>
            <ion-col>
                <ion-label for="image">Image</ion-label><br>
                <ion-input type="text"required class="w-100"></ion-input><br>
            </ion-col>
            <ion-col>
                <ion-label for="date">Date</ion-label><br>
                <ion-input type="text" name="date" required class="w-100"></ion-input><br>
            </ion-col>
            <ion-col>
                <ion-button type="submit" color="primary">Ajouter</ion-button>
            </ion-col>
        </ion-grid>
    </ion-list>
  
  